.light-gray-btn {
    background-color: lightgray;
    color: black;
    border: unset !important;
    padding: 8px;
    width: 200px;
}

.light-blue-btn {
    background-color: #2c628d;
    color: #fff;
    border: unset !important;
    padding: 8px;
    width: 200px;
}

.accordion-button:not(.collapsed) {
    background-color: unset !important;
}